/* .p{
    color: red;
    font-size: 25px;
}
.um{
    color:blue;
}
#um1{
    color:green;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;

} */
.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 20px;

}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
     flex-grow: 1;
}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}
